.header a, a:hover /*а - псевдо класс, стиль, который появляется при наведения на него мышкой*/
	{
		color: #f0ad4e;
		text-decoration: none;
	}

.header h1
	{
		letter-spacing: 15px;
		font-size: 300%;
	}
 
.header p
	{
		color: white !important; /*!important - высший приоритет*/
		font-size: 90%;
		letter-spacing: 3px;
	}

.nav-pills>li.active>a,  .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover
	{
		color: #fff;
		background-color: #346270;
	}

.nav-pills>li>a /*класс для активной кнопки меню*/
	{
		color: #fff;
	}

.nav-pills>li>a:focus, .nav-pills>li>a:hover /*класс для не активных кнопок меню*/
	{
		background-color: #346270;
	}

.navbar-inverse /* добавляем отступ меню сверху и снизу*/
	{
		padding: 1%;
		border-radius: 0px;
	}

@media (max-width: 767px) /* настраиваем меню и кнопки для маленького размрешения экрана: размещение кнопок на всю ширину, выравнивание по центры и отступ между ними*/
	{
		.nav-pills>li
			{
				float: none;
				padding: 0.1%;
			}

		.nav-pills
			{
				text-align: center;
			}

		.header h1
			{
				letter-spacing: 5px;
				font-size: 280%
			}

		.header
			{
				text-align: center;
			}

	}

.clear
{
	clear: both;
	height: 63px;
}


.films_block
{
	text-align: center;
}

.films_block img
{
	margin-bottom: 5%;
	border-radius: 5px;
	border: solid 5px #dad7b5;
	width: 100%;
}

.film_block
{
	padding: 2%;
	margin-bottom: 4%;
}

.margin-8 /*класс для отступа сверху*/
{
	margin-top: 8%;
}

.panel /*класс для изменения встроенного в бутстраб класс панель, для панелей меню справа*/
{
	border: none;
}

.panel-body
{
	background-color: #f9f9f9;
}

.panel-info>.panel-heading
{
	background-color: #f0ad4e;
	color: white;
	border-color: transparent;
}

.sidebar-header
{
	font-size: 120%;
	letter-spacing: 2px;
}

/*.form-control
{
	font-size: 14px;
}*/

.input-lg
{
	font-size: 14px;
}

.form-control
{
	border-radius: 0px;
}

.list-group-item-warning
{
	color: #8a6d3b;
	background-color: #f9f9f9;
}

.badge
{
	background-color: #000000;
}

.info-block
{
	font-size: 120%;
}

.info-block>.badge
{
	font-size: 80%;
}

.info-block span
{
	margin-right: 3%;
}

textarea.form-control
{
	height: 200px;
}

.table tbody>tr>td.vert-align
{
	vertical-align: middle;
}



.wrapper
{
	min-height: 100%; /*чтобы прижать футер к низу экрана*/
}
html, body
{
	height: 100%; /*чтобы прижать футер к низу экрана*/
}

footer
{
	color: #666;
	background: #222;
	padding: 17px 0px 18px 0;
	border-top: 1px solid #000;
}

footer a /*стиль для ссылок в футере*/
{
	color: #999;
}

footer a:hower /*стиль для ссылок в футере при наведении на них мушкой*/
{
	color: #efefef;
}
